.resultsPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  filter: saturate(200%) drop-shadow(1px 2px 5px #232323);
  font-family: 'Lacquer', cursive;
  color: rgb(255, 154, 13);
}
.displayL{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
a{
  position: relative;
  text-decoration: none;
  color: rgb(255, 154, 13);
  letter-spacing: 2px;
  font-size: 20px;
}
.bbb{
  margin: 30px;
}

@media screen and (min-width: 375px) and (max-width: 812px){
  .displayL{
  flex-direction: column;
  justify-content: space-evenly;
  }
  .bbb{
      margin-top: 20px;
  }
}
/* This is for the IPAD / orientation device*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
  .displayL{
  flex-direction: column;
  justify-content: space-evenly;
  }
  .bbb{
      margin-top: 20px;
      margin-right: 20px;
  }

}