.homepage{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  letter-spacing: 2px;
  text-shadow: 5px 5px 10px #000000;
  filter: saturate(200%) drop-shadow(1px 2px 5px #232323);
  
}
.ready{
  font-size: 35px;
  filter: saturate(100%);
  background-color: rgb(237, 234, 230);
  color: rgba(255, 140, 0, 0.817);
  font-weight: bolder;
  /* border-radius: 4px; */
  padding: 10px 20px 10px 20px;
  width: max-content;
  font-family: 'Lacquer', cursive;
  cursor: pointer;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #000000;
  /* button click */
  border-bottom: 8px solid #bbb;
  outline: 0;


}
.ready:hover{
  color: rgb(109, 0, 0);
  font-size: 50px;
}
.ready:active{
  border-bottom-width: 4px;
  transform: translateY(4px);
}
@media screen and (min-width: 375px) and (max-width: 812px){
  .ready{
    font-size: 20px;
  }
  .ready:hover{
  color: rgba(255, 140, 0, 0.817);
  font-size: 20px;
  } 
  .ready:active{
  border-bottom-width: 4px;
  transform: translateY(4px);
  }   
}

/* This is for the IPAD / orientation device*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
      body{
      text-align: center;
      font-size: 10px;
      background-color: rgb(28, 107, 229);
    }
    .App {
      margin-top: 20%;
      text-align: center;
      font-size: 25px;
      letter-spacing: 3px;
      
    }

}