.homepage{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ready{
  font-size: 20px;
  background-color: cornsilk;
  border-radius: 4px;
  padding: 10px;
  width: max-content;
  font-family: 'Lacquer', cursive;
  
}
.ready:hover{
  background-color: rgb(30, 94, 108);
  color: cornsilk;
}
