.playGame{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: saturate(200%) drop-shadow(1px 2px 5px #232323);
  font-family: 'Lacquer', cursive;
  color: rgb(255, 154, 13);
  font-size: 20px;
}
a{
  text-decoration: none;
  color: rgb(255, 154, 13);
  letter-spacing: 2px;
}
.countDown{
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 5px;
}
.dcounter{
  font-size: 50px;
}

.displayList{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button{
  font-family: 'Lacquer', cursive;
  font-weight: bolder;
  width: max-content;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
  filter: contrast(100%);
  background-color: rgb(237, 234, 230);
  color: rgb(222, 161, 87);
  text-shadow: 1px 1px 1px #000000;
  border-bottom: 8px solid #bbb;
  outline: 0;
}
button:active{
  border-bottom-width: 4px;
  transform: translateY(4px);
}
.startButton{
  margin: 10px auto;
  width: max-content;
}
.startButton:hover{
  color: rgb(109, 0, 0);
  font-size: 50px
}
.restartButton{
  margin-left: 25px;
}
.restartButton:hover{
  color: rgb(109, 0, 0);
  font-size: 50px;
}
form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.submit{
  margin-left: 5px;
}
.submit:hover{
  background-color: rgba(40,100, 200, .5);
  color: aliceblue;; 
}
input{
  display: flex;
  width: 400px;
  font-size: 40px;
  font-family: 'Lacquer', cursive;
  color: rgb(255, 154, 13);
  text-shadow: 1px 1px 1px #000000;
  letter-spacing: 5px;
}
i{
  margin-left: 50px;
  animation: alert 2s;
}
@keyframes alert{
  0%{
    font-size: initial;
  }
  50%{
    font-size: 40px;
  }
  100%{
    font-size: 25px;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px){
  .playGame{
    font-size: 10px;
    letter-spacing: 3px;
  }
  a{
    font-size: 10px;
  }
  .countDown{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .dcounter{
  font-size: 30px;
  }
  h1{
    font-size: 20px;
    letter-spacing: 6px;
  }
  button{
    font-size: 25px;
  }
  form{
    /* display: flex; */
    flex-direction: column;
  }
  input{
      width: 300px;
      margin: 10px auto;
      height: 65px;
  }
 .displayList{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }  

  .submit{
    margin: 10px auto;
    letter-spacing: 6px;
    width: 175px;
  }
  .submit:hover{
    font-size: 20px; 
    color: aliceblue;; 
  }
  .startButton{
    margin: 0 auto;
    
  }
  .startButton:hover{
  font-size: 10px;
  color: rgb(222, 161, 87);
  }  
  .restartButton:hover{
    font-size: 20px;
    color: rgb(222, 161, 87);
  }
  i{
    position: relative;
    top: 25px;
    font-size: 6px;
    width: max-content;
    margin: 0;
  }
  

  .buttonList{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center; */
  }
  @keyframes alert{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(45deg);
  }
  50%{
    transform: rotate(0deg);
  }  
  75%{
    transform: rotate(-45deg);
  }
  100%{
    transform: rotate(0deg);
  }   
  }
}

/* This is for the IPAD / orientation device*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  input{
  display: flex;
  /* position: relative; */
  width: 400px;
  height: 55px;
  font-size: 40px;
  font-family: 'Lacquer', cursive;
  color: rgb(255, 154, 13);
  text-shadow: 1px 1px 1px #000000;
  letter-spacing: 5px;
  } 
  .startButton:hover{
  font-size: 10px;
  color: rgb(222, 161, 87);
  } 
  .pgRestart:hover{
    font-size: 20px;
    color: rgb(222, 161, 87);
  }  
  .pgRestart{
    margin-left: 0;
  }


}