.displayList{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.letters{
  border: 1px solid black;
  display: flex;
  border-radius: 2px;
  width: 60px;
  /* height: 100px; */
  font-size: 70px;
  margin-bottom: 25px;
  margin-top: 25px;
  justify-content: center;
  text-align: start;
}