table{
  table-layout: auto;
  width:95%;
  margin: 20px auto;
  border-collapse: collapse;
  font-weight: bolder;
  /* text-shadow: 1px 1px 1px #000000; */
  text-shadow: 5px 5px 10px #000000;
  filter: saturate(200%) drop-shadow(1px 2px 5px #232323);
}
table,th,td{
  border: 2px solid rgb(241, 232, 221);
  text-align: center;
  padding: 15px;
  font-size: 25px;
}


/* ----------- iPhone X ----------- */
/* This is for the Iphone X */
@media screen and (min-width: 375px) and (max-width: 812px){
  table{
    table-layout: fixed;
  }
  table,th,td{
  padding: 10px;
  font-size: 10px;
}

}

