.userList{
  font-size: 35px;
  letter-spacing: 2px;
  overflow: scroll;
}
.score{
  font-size: 30px;
}
.lost{
  position: relative;
  top: 50%;
  font-size: 25px;
  animation: nextTime 2s;
}
  .word{
    margin: 10px;
    letter-spacing: 4px;
    color: rgb(255, 58, 198);
  } 


@keyframes nextTime{
  0%{
    transform: rotate(0deg);
    font-size: 25px;
  }
  25%{
    transform: rotate(90deg);
    font-size: 30px;
  }
  50%{
    transform: rotate(180deg);
    font-size: 35px;
  }
  75%{
    transform: rotate(270deg);
    font-size: 30px;
  }
  100%{
    transform: rotate(360deg);
    font-size: 25px;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px){
  .userList{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content:flex-start;
    width: 300px;
    overflow-x: scroll;
  }
  .score{
    font-size: 20px;
  }
  .lost{
  margin: 10px auto;
  width: max-content;
  font-size: 10px;
  animation: nextTime .5s 2;
  }
  .word{
    margin: 10px;
    letter-spacing: 4px;
    color: rgb(255, 58, 198);
  }
  @keyframes nextTime{
  0%{
      left: 0;
  }
  25%{
      left: 25%;
  }
  50%{
      left: 0%
  }
  75%{
      left: -25%;
  }
  100%{
      left: 0;
  }
}    

}


/* This is for the IPAD / orientation device*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
  .userList{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content:flex-start;
    width: 500px;
    overflow-x: scroll;
  }
  .score{
    font-size: 30px;
  }
  .lost{
  margin: 10px auto;
  width: max-content;
  font-size: 20px;
  animation: nextTime .5s 2;
  }
  .word{
    margin: 10px;
    letter-spacing: 4px;
    color: rgb(255, 58, 198);
  }
  @keyframes nextTime{
  0%{
      left: 0;
  }
  25%{
      left: 25%;
  }
  50%{
      left: 0%
  }
  75%{
      left: -25%;
  }
  100%{
      left: 0;
  }
}  
}


/* ----------- iPhone X ----------- */
/* This is for the Iphone X */
@media screen and (min-width: 375px) and (max-width: 812px){
  .lost{
    margin: 10px auto;
    width: max-content;
    font-size: 20px;
    animation: nextTime .5s 2;
  }
  .score{
    font-size: 25px;
  }  
}