.solutionList{
  display: flex;
  flex-direction: column;
  width: max-content;
}
.solution{
  font-size: 35px;
}
.overflowSolution{
    margin: 0 auto; 
    font-size: 35px;
    letter-spacing: 2px;
    overflow: scroll;
    height: 250px;
    width: max-content;
    /* padding-bottom: -10px; */
}