.letters{
  border: 1px solid black;
  border-radius: 4px;
  width:100px;
  font-size: 70px;
  margin-bottom: 25px;
  margin-top: 25px;
  justify-content: center;
  text-align: center;
  animation: rotation 1s infinite;
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}