.letters{
border-radius: 9px;
background: rgb(130, 119, 244);
box-shadow: inset 20px 20px 9px #6e6f67, 
            inset -20px -20px 9px #ffffff;
  width:100px;
  font-size: 70px;
  margin-bottom: 25px;
  margin-top: 25px;
  justify-content: center;
  text-align: center;
  animation: rotation 1s;
  color:rgb(255, 154, 13);
  font-family: 'Lacquer', cursive;
  text-shadow: 1px 1px 1px #000000;
}
.letter2{
border-radius: 9px;
background: blue;
box-shadow: inset 20px 20px 9px #6e6f67, 
            inset -20px -20px 9px #ffffff;
  width:100px;
  font-size: 70px;
  margin-bottom: 25px;
  margin-top: 25px;
  justify-content: center;
  text-align: center;
  animation: rotation2 1s;
  color:rgb(255, 154, 13);
  font-family: 'Lacquer', cursive;
  text-shadow: 1px 1px 1px #000000;
}

@keyframes rotation {
  0%{transform: rotateY(0deg)}
  100%{transform: rotateY(360deg)}
}

@keyframes rotation2 {
  0%{transform: rotateY(0deg)}
  100%{transform: rotateY(360deg)}
}
